@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    padding: 83px 144px 32px 49px;
    justify-content: center;
    align-items: center;
}

.text-container {
    margin-left: 49px;
}

img {
    width: 442px;
    height: 433px;
}

h1 {
    margin-bottom: 16px;
    width: 100%;
    color: var(--Neutral-D_Grey, #4D4D4D);
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
}

p {
    color: var(--Neutral-Grey, #717171);
    width: 100%;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

a {
    color: var(--Neutral-White, #FFF);
    text-align: center;
    text-decoration: none;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

button {
    margin-top: 32px;
    width: 151px;
    height: 52px;
    display: flex;
    padding: 14px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--Brand-Primary, #4CAF4F);
    border: none;
}